{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
          <h2 class="title">{{ .Params.description }}</h2>
        </div>
        <div class="post-meta">
          {{ if .Params.github }}
            <span>
              <a
                href="https://github.com/{{ .Params.github }}"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fab fa-github"></i> GitHub
              </a>
            </span>
          {{ end }}

          {{ if .Params.gitlab }}
            <span>
              <a
                href="https://gitlab.com/{{ .Params.gitlab }}"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fab fa-gitlab"></i> GitLab
              </a>
            </span>
          {{ end }}

          {{ if .Params.git }}
            <span>
              <a
                href="{{ .Params.git }}"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fab fa-git"></i> Source
              </a>
            </span>
          {{ end }}

          {{ if .Params.source }}
            <span>
              <a
                href="{{ .Params.source }}"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fab fa-code"></i> Source
              </a>
            </span>
          {{ end }}

          {{ if .Params.website }}
            <span>
              <a
                href="{{ .Params.website }}"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fas fa-link"></i> Website
              </a>
            </span>
          {{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featured_image }}
          <img src="{{ .Params.featured_image }}" alt="Featured image" />
        {{ end }}
        {{ .Content }}

        {{ partial "embed.html" . }}
        {{ partial "links.html" . }}
      </div>

      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utteranc.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
