{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
    <p>
      External publications where
      <a href="/about">{{ .Site.Params.author }}</a> appeared.
    </p>

    <ul>
      {{- range .Paginator.Pages -}}
        <li>
          <a
            class="media-link"
            href="{{ .Params.ExternalLink | default .RelPermalink }}"
          >
            <span class="date">
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </span>
            <strong>{{ .Title }}</strong>,
            <em>{{ .Params.publication }}</em>
          </a>
        </li>
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
