<li class="citation">
  {{ delimit .Params.authors ", " }}, {{ .Date.Format ("2006" ) }}.
  <strong>{{ .Title }}</strong>.
  {{ if .Params.subtitle }}{{ .Params.subtitle }}.{{ end }}
  {{ if .Params.preprint }}Preprint,{{ end }}
  {{ if .Params.city }}{{ .Params.city }}:{{ end }}
  {{ .Params.conference | default .Params.publisher }}.
  {{ if .Params.identifiers.doi }}
    doi:
    {{ .Params.identifiers.doi }}
  {{ else }}
    <em class="citation-url"
      >{{ .Params.original_link | default (absURL .RelPermalink) }}</em
    >
  {{ end }}
</li>
