<a href="{{ .RelPermalink }}">
  <div
    class="gallery-item"
    style="background-image: url({{ .Params.featured_image | default .Site.Params.avatarurl }});"
  >
    <div class="gallery-item-meta">
      <strong>{{ .Title }}</strong><br />
      {{ if eq .Section "talks" }}
        {{ .Params.city }}: {{ .Params.conference }},
        {{ .Date.Format ("2006" ) }}
      {{ else if eq .Section "projects" }}
        {{ .Params.description }}
      {{ else }}
        {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
      {{ end }}
    </div>
  </div>
</a>
