{{ if .Params.featured_image }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ .Params.featured_image | absURL }}" />
{{ else }}
  {{- with $.Params.images -}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ index . 0 | absURL }}" />
  {{ else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if not $featured }}
      {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
    {{ end -}}
    {{- with $featured -}}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="{{ $featured.Permalink }}" />
    {{- else -}}
      {{- with $.Site.Params.images -}}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ index . 0 | absURL }}" />
      {{ else -}}
        <meta name="twitter:card" content="summary" />
      {{- end -}}
    {{- end -}}
  {{- end }}
{{ end }}
<meta name="twitter:title" content="{{ .Title }}" />
<meta
  name="twitter:description"
  content="{{- with .Description -}}
    {{ . }}
  {{- else -}}
    {{- if .IsPage -}}
      {{ .Summary }}
    {{- else -}}
      {{- with .Site.Params.description -}}{{ . }}{{- end -}}
    {{- end -}}
  {{- end -}}"
/>
{{ with .Site.Social.twitter -}}
  <meta name="twitter:site" content="@{{ . }}" />
{{ end -}}
